*.pyc
*.pyo
*.scssc
*~
*.DS_Store
django/vault/local_settings.py
j2me/ScredClient/ScredClient.xcodeproj/setok.mode1
j2me/ScredClient/ScredClient.xcodeproj/setok.pbxuser
j2me/ScredClient/build/*
.pydevproject
.pytest_cache/
.settings/
.*env/
django/build/
django/vault/media/
*.egg-info
#*#
django/vault/_generated_media/
admin/build/
admin/vault_admin/local_settings.py
django/vault/vault.db
django/vault/dev
django/vault/_generated_media_names.py
admin/vault_admin/_generated_media/
admin/vault_admin/_generated_media_names.py
celerybeat-schedule
.cache/
/django/media/
dist/
id_rsa*
*.pem
docker/**/*requirements.txt
docker/postgres-data/
/docker/mail/*
!/docker/mail/.nodelete
.coverage
cobertura.xml
junit.xml

# Editors
.vscode
.idea/
.project
.run
*.swp

# Jupyter
.ipynb_checkpoints/
*.ipynb
/.gtm/

docker/vault_dev_dump
/django/.run/Vault@local.run.xml
/django/venv/
